.category-head{
  font-weight: 400;
  color: black;
  text-align: center;
  font-size: 48px;
  text-transform: capitalize;
}

.card-clean {
  border: 1px solid transparent;
  text-decoration: none !important ;
  color: #181c29 !important;
}

.card-clean:hover {
  color: #50545f !important;
}

.red-color {
  color: #910722;
}
