.taste-profile h4{
  font-weight: 700;
  font-size: 32px;
}

.profile-card{
  background-color: #f6f6f6;
  text-align: center;
  padding: 10%;
  margin-top: 40px;
  border: 1px solid #91072280;
}
.profile-card h3{
  font-weight: 700;
  margin: 15px 0;

}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.list-group {
  justify-content: center;
}

.list-group li {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 25px 10px;
}

.list-group li span{
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.stats-circle {
  width: 100px;
  height :100px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #91072280;
}
.stats-circle:hover {
  background-color: #910722;
  border: 1px solid black;
}

.stats-circle p {
  color: #910722;
  padding-top: 30px;
}
.stats-circle:hover p {
  color: white;
}
.reactions-history {
  padding: 10% 5%;
}

.list-no-bullets {
  list-style: none;
}

.taste-profile {
  margin-top: 40px;
}

.tabs p {
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
  font-size: 16px;

}

.tabs p:hover {
  color: #910722;
}

.tabs p:first-child {
  margin-left: 0;
  }

.tabs p:last-child {
  margin-right: 0;
}

#link1 {
  display: inline-block;
}

#link2 {
  display: inline-block;
}

.tabs p i {
  margin: 0 8px;
}


 [data-tab-content] {
  display: none;
 }
 .active[data-tab-content] {
  display: block;
 }

// Cards

.cards {
  margin-top: 10px;

}

.card-product {
  overflow: hidden;
  margin: 20px 0;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid transparent;
}
.card-product:hover {
  border: 1px solid #91072280;
}

.card-product img {
  height: 100%;
  width: 130px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-product .card-product-infos {
  padding: 16px;
}
.card {
  border: 1px solid #91072280;
}
.card-body_pro {
  border: 1px solid #91072280;
  margin-top: 50px;
}

// .reactions-history a {
//   background-color: white;
//   border: 1px solid #910722;
//   color: #910722;
//   border-radius: 5px;
//   padding: 10px 22px;
//   margin-left: 60px;
// }
.cards h3 {
  text-decoration: overline;
  margin-left: 340px;

}

#wtt-btn {
  margin-left: 30px;
}
.btn-red:hover {
  background-color: #910722;
  color: white;
  border: 1px solid #910722;
  text-decoration: none;
}
.sharing-links {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    position: sticky;
    top: 130px;
}
.sharing-links p {
  font-size: 16px;
  margin-top: 10px;
}
