.new-article {
  margin: 20px;
  padding: 50px;
  justify-content: space-around;
}
.create-article {

  padding: 50px;
}
.new-description {
  width: 600px;
  height: 700px;
}
.new-title {
  width: 600px;

}
