.results-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.results-heading {
  text-transform: uppercase;
  font-weight:300;
}

.search-tag{
  color: #910722;
  font-weight: 700px;
}
