<div class="d-flex new-article">
  <h1>Write your Own</h1>
  <button>Ready to publish?</button>
</div>
<div class="create-article">
  <h3>Title</h3>
  <input type="text" class="new-title">
  <h3>Description</h3>
  <input type="text" class="new-description">
</div>
