<!-- ARTICLES SINGLE -->
<div class="d-flex container-header">

  <div class="head">
    <h1><%= @article.title %></h1>
    <h4>By Etienne</h4>
    <h6>#<%= Category.find(@article.category.id).name %></h6>


    <ul class="list-group-show list-group-horizontal">
      <li class="">170 <span>Loved articles</span></li>
      <li class="">200 <span>Want to try</span></li>
      <li class="">320 <span>Saved articles</span></li>
    </ul>
    <div class="tabs">
      <p>Loved Articles <i class="fas fa-heart"></i></p>
      <p>Want to try <i class="fas fa-bookmark"></i></p>
    </div>
  </div>


  <div class="image">
    <div class="box-red">

    </div>
    <img src="https://images.unsplash.com/photo-1440367850806-da68da359421?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">
  </div>

</div>

<!-- ARTICLES RELATED -->

<div class="container-related-articles">
  <h1>PEOPLE ALSO LIKE ..</h1>
  <div class="stickyscroll">
    <div class="col-4">

      <div>
        <div class="wrapper">
          <img class="landing-img" src="https://images.unsplash.com/photo-1492632503949-a31d9972b400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt="Card image cap">
          <div class="overlay"></div>
          <div class="p-2">
            <p class="card-author-up">Zu Tisch</p>
            <h4 class="mb-4">Best of Instagram: Die besten (Mode-)Momente der vergangenen Woche</h4>
            <p class="card-author-up author-border">Von Martin Ditzel</p>
          </div>
        </div>
      </div>

      <div>
        <div class="wrapper mt-4">
          <img class="landing-img" src="https://images.unsplash.com/photo-1492632503949-a31d9972b400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt="Card image cap">
          <div class="overlay"></div>
          <div class="p-2">
            <p class="card-author-up">Zu Tisch</p>
            <h4 class="mb-4">Best of Instagram: Die besten (Mode-)Momente der vergangenen Woche</h4>
            <p class="card-author-up author-border">Von Martin Ditzel</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4" id="sticky-write-new">
     <div class="sticky-new">
       <h6>Would you like to became
        <br>an author?</h6>
        <%= link_to 'Write your 1st Article.>', new_article_path %>
     </div>
    </div>

  </div>
</div>
