<div class="navbarout">
<h1>I'm 1 particular pickle</h1>
</div>
<div class="d-flex container-header">
  <div class="head">
    <h1>Top 10 Things You Need To Know About Consent</h1>
    <h6>#CATEGORY </h6>
    <p>
      The #metoo movement has opened up a world-wide conversation
      about sexual assault and the culture that normalizes it.
    </p>
  </div>

  <div class="image">
    <img src="https://images.unsplash.com/photo-1440367850806-da68da359421?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">
  </div>

</div>
 <div class="articles">
    <p>
      The #metoo movement has opened up a world-wide conversation
      about sexual assault and the culture that normalizes it.
      The media has served up dramatic examples of celebrities who
      got it wrong, but there’s still a lot of confusion about what
      consent—let alone enthusiastic consent—looks, feels, and sounds like.

      Consent is an ongoing agreement between two (or more) people to engage in sexual activity. Enthusiastic consent means everyone is so excited they can hardly wait to rip each other’s clothes off. What could be hotter than that? But how do you know for sure if everyone is 100% on board?
      The #metoo movement has opened up a world-wide conversation
      about sexual assault and the culture that normalizes it.
      The media has served up dramatic examples of celebrities who
      got it wrong, but there’s still a lot of confusion about what
      consent—let alone enthusiastic consent—looks, feels, and sounds like.

      Consent is an ongoing agreement between two (or more) people to engage in sexual activity. Enthusiastic consent means everyone is so excited they can hardly wait to rip each other’s clothes off. What could be hotter than that? But how do you know for sure if everyone is 100% on board?
      The #metoo movement has opened up a world-wide conversation
      about sexual assault and the culture that normalizes it.
      The media has served up dramatic examples of celebrities who
      got it wrong, but there’s still a lot of confusion about what
      consent—let alone enthusiastic consent—looks, feels, and sounds like.

      Consent is an ongoing agreement between two (or more) people to engage in sexual activity. Enthusiastic consent means everyone is so excited they can hardly wait to rip each other’s clothes off. What could be hotter than that? But how do you know for sure if everyone is 100% on board?

    </p>
  </div>
