<% if user_signed_in? %>
<nav class="navbar sticky-top navbar-expand-lg bg-light navbar-custom">
  <%= link_to image_tag("fetysh-logo.svg", :class => "navbar-brand"), "/home" %>
  <div class="collapse navbar-collapse d-flex justify-content-end align-items-center" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "New Story", new_article_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "List Event", new_event_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to edit_user_registration_path do %>
        <img src="https://images.unsplash.com/photo-1542080681-b52d382432af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" class="avatar">
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<% end  %>
