<div id="outer">
  <div id="home-top-video" >
    <%= video_tag "bg_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute %>
  </div>
</div>

<div class="full-section d-block p-4">
  <div class="container">
    <div class="section-landing">
      <h2 class="category-heading">Orgasm</h2>
    </div>

    <div class="stickyscroll">
      <div class="sticky-element">
        <img src="https://images.unsplash.com/photo-1522322904670-5cf2a8529d21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" width="400">
      </div>
      <div style="flex-wrap: wrap;">
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</div>


