<div id="outer" class="d-flex justify-content-center align-items-center">
  <div id="home-top-video" >
    <%= video_tag "bg_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute %>
  </div>
  <div>
    <h2 class="landing-title">Join the sex revolution</h2>
      <%= link_to "Login now", new_user_session_path, class:"btn btn-transp"%>
  </div>
</div>
