<div id="outer" class="d-flex justify-content-center align-items-center">
  <div id="home-top-video" >
    <%= video_tag "bg_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute %>
  </div>
  <div>
    <h2>Join the sex revolution</h2>
    <a href="#" class="btn btn-white">Login now </a>
  </div>
</div>
