.new-event-bg{
  height:100vh;
  background-image:url("https://images.unsplash.com/photo-1569706548645-8034449f6a7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1264&q=80");
  background-size: cover;
  background-position: center;
}


