.image-article-right {
  margin-left: 785px;
  width: 400px;
  height: 500px;
}
.image-article {
  width: 400px;
  height: 500px;
}
img {
  max-width:100%;
max-height:100%;
}
.container-header {
  margin-top: 35px;
  position: relative;
  padding: 50px;
}
.head {
  position: absolute;
  margin-rigth: -20px;
  background-color: white;
  padding: 50px;
  margin-top: 30px;
  margin-left: 263px;
  width: 700px
}
.articles {
  width: 700px;
  margin: 0 auto;
}
