.navbar form {
  padding-left: 53px;
  margin-top: 3px;
    display: flex;
}
.navbar input.btn {
  margin-left: 25px;
  color: #910722;
  border: 1px solid #910722;
  border-radius: 5px;
  font-size: 15px;
  background-color:white;
}
.navbar input.btn:hover {
  background-color:#910722;
  color: white;
}
.categories-nav{
  padding-left: 150px;
  padding-right: 150px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  height: 40px;
  background-color: black;
}
#navbarDropdown {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;

}
.dropdown-menu {
  background-color: black;
  left: -60px !important;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

a.dropdown-item {
  color: white;
}

.categories-nav-el {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.categories-nav-el:hover{
  color: white;
}

.navbar-custom {
    background-color: white !important;
    color: black;
    padding: 1rem;
}

.nav-link {
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 20px;
  padding: 14px 0 0;

}
.nav-link:hover {
  font-weight: 400;
  color: black;
}

.navbar-brand {
  width: 50px;
  height: 50px;
  padding: 0;

}


.navbar-brand:hover{
  color: black;
}

// Search animation

.searchBox {
    position: relative;
    top: -18px;
    left: 50%;
    transform:  translate(-50%,50%);
    background: white;
    height: 40px;
    border-radius: 40px;

}

.searchBox:hover > .searchInput {
    width: 250px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #910722;
  color :white;
}

.searchButton {
    color: #910722;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    border: 1px solid #910722;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
  }

.searchInput::placeholder{
  padding-left:10px;
}

.searchInput {
    border:none;
    background-color: #f6f6f6;
    border-radius:40px;
    outline:none;
    float:left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    margin-right: 10px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}


// Hide navbar on landing when logged in
.pages-landing > .navbar {
 display: none !important;
}

.pages-landing > .categories-nav {
 display: none !important;
}

.events-index > .navbar {
  background-color: black !important;
  & > .collapse .navbar-nav .nav-item a.nav-link {
    color: white !important;
  }
}

.events-index > .categories-nav {
  background-color: black !important;
  & > a.categories-nav-el {
    color: white !important;
  }
}

.events-show > .navbar {
  background-color: black !important;
  & > .collapse .navbar-nav .nav-item a.nav-link {
    color: white !important;
  }
}

.events-show > .categories-nav {
  background-color: black !important;
  & > a.categories-nav-el {
    color: white !important;
  }
}

.search-form {
  border-radius: 15px;
}
