.categories-nav{
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  height: 40px;
}


.categories-nav-el {
  text-transform: uppercase;
  text-decoration: none;
  color: #2d2e2f;
  font-weight: bold;
  font-size: 16px;
}

.categories-nav-el:hover{
  color: rgba(191,17,6,0.6);
}

.navbar-custom {
    background-color: white !important;
    color: black;
}

.nav-link {
  color: black !important;
  text-transform: uppercase;
  font-weight: 300;
}
.nav-link:hover {
  font-weight: 400;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
}


.navbar-brand:hover{
  color: black;
}

