.categories-nav{
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  height: 40px;
  background-color: #d80700;

}


.categories-nav-el {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.categories-nav-el:hover{
  color: rgba(191,17,6,0.6);
}

.navbar-custom {
    background-color: white !important;
    color: black;
    padding: 1rem;
}

.nav-link {
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 20px;
  padding: 14px 0 0;

}
.nav-link:hover {
  font-weight: 400;
}

.navbar-brand {
  width: 50px;
  height: 50px;
  padding: 0;

}


.navbar-brand:hover{
  color: black;
}


// Hide navbar on landing when logged in
.pages-landing > .navbar {
 display: none !important;
}

.pages-landing > .categories-nav {
 display: none !important;
}

.events-show > .navbar {
  background-color: black !important;
  & > .collapse .navbar-nav .nav-item a.nav-link {
    color: white !important;
  }
}

.events-show > .categories-nav {
  background-color: black !important;
  & > a.categories-nav-el {
    color: white !important;
  }
}
