<div class="container">
  <h1>Add a New Review</h1>

  <%= simple_form_for [@category, @article, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Add a Review", class: "btn btn-primary", class: "btn-red" %>
  <% end %>


</div>

