.taste-profile h4{
  font-weight: 700;
  font-size: 32px;
}

.profile-card{
  background-color: #910722;
  color:white;
  text-align: center;
  padding: 10%;
  margin-top: 40px;
  border: 1px solid #91072280;
  border-radius: 10px;
}
.profile-card h3{
  font-weight: 700;
  margin: 15px 0;

}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}


.list-group li {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 25px 10px;
}

.list-group li span{
  display: block;
  font-weight: 700;
}

.stats-circle {
  width: 140px;
  height :140px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}

.stats-circle p {
  padding-top: 30px;
}

.stats-content {
  font-weight: 400;
  font-size: 18px;
}

.reactions-history {
  padding-left: 40px;
  padding-top: 40px;
}

.list-no-bullets {
  list-style: none;
}

.taste-profile {
  margin-top: 40px;
  padding-left: 40px;
  padding-top: 40px;
}

.tabs p {
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
  font-size: 16px;

}

.tabs p:hover {
  color: #910722;
}

.tabs p:first-child {
  margin-left: 0;
}

.tabs p:last-child {
  margin-right: 0;
}

#link1 {
  display: inline-block;
}

#link2 {
  display: inline-block;
}

.tabs p i {
  margin: 0 8px;
}


[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

// Cards

.cards {
  margin-top: 10px;

}

.card-product {
  overflow: hidden;
  margin: 20px 0;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid transparent;
}
.card-product:hover {
  border: 1px solid #91072280;
}

.card-product img {
  height: 100%;
  width: 130px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-product .card-product-infos {
  padding: 16px;
}
.card {
  border: 1px solid #91072280;
}
.card-body_pro {
  border: 1px solid #91072280;
  margin-top: 50px;
}


.cards h3 {
  text-decoration: overline;
  margin-left: 340px;
}

#wtt-btn {
  margin-left: 30px;
}
.btn-red:hover {
  background-color: #910722;
  color: white;
  border: 1px solid #910722;
  text-decoration: none;
}
.sharing-links {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  position: sticky;
  top: 130px;
}
.sharing-links p {
  font-size: 16px;
  margin-top: 10px;
}

.profile-container {
  padding-left: 100px;
  padding-right: 200px;
  height: 100vh;
}


.stats-overview {
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.stats-name {
  font-size: 16px;
  margin-bottom: 5px;
}
